.mainParameters {
  margin-left: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

input[type="checkbox"] {
  margin-top: 10px;
  max-width: 20px;
}

.techInterviewBox {
  border: 2px solid var(--accentColor);
  width: calc(100% + 13px);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.apiKeyLink {
  margin-top: -10px;
  display: flex;
  justify-content: center;
}
