.apiKeyEditPage {
  opacity: 0;
  max-width: 900px;
  margin: 20px auto;
}

.headLines {
  color: var(--linkColor);
}

.buttons {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.showsApiKeyContainer {
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.427);
  border-radius: 7px;
  border: 2px solid var(--buttonColor);
  padding: 10px;
  max-width: 500px;
}

.miniHeadLines {
  color: var(--linkColor);

  margin-top: 30px;
  font-size: 32px;
}

.regenerateBtn {
  background-color: rgb(0, 153, 0);
}

.regenerateBtn:hover {
  outline: none;
  background-color: rgb(0, 193, 0);
}

.HyperLink {
  padding: 5px;
  border-radius: 5px;
  background-color: none;
}

.HyperLink:hover {
  background-color: none;
}

.dedicatedText {
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  background-color: var(--buttonColor);
}

.InsctructionList li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.apiKeyInput {
  outline: none;

  padding: 10px;
  width: 40%;
  margin: 0 auto;
  display: block;

  border-radius: 5px;
  border: 2px solid var(--linkColor);
}

@keyframes pageShow {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.confirmBtn,
.regenerateBtn {
  margin: 10px;
}

.regenerateBtn:focus {
  outline: none;
}

.confirmBtn:focus {
  outline: none;
}

.SavedMessage {
  text-align: center;
  color: rgb(0, 214, 0);
}
