body {
  overflow-y: scroll;
}

.loader {
  width: 40px;
  height: 40px;
  border: 8px solid #464646;
  border-top: 8px solid var(--linkColor);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.errorExplanation {
  color: #464646;
  margin-bottom: 202px;
}

.answerTypeChange {
  display: flex;
}

.userTextArea h3 {
  margin: 0;
}

.answerTypeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: rgb(44, 44, 44);
  margin: 20px;
}

.techPrintableArea {
  height: 500px;
  font-size: 1rem;
  background-color: rgb(39, 43, 51);
  border: 2px solid var(--linkColor);
  border-radius: 5px;
  width: 97%;

  resize: none;
}

.answerTypeBtn:hover {
  background-color: var(--buttonColor);
}

.activeTypeBtn {
  background-color: var(--buttonColor);
}

.activeTypeBtn:hover {
  background-color: rgb(94, 31, 149);
}

.answerTypeBtn:focus {
  outline: none;
}

.mistake {
  font-weight: 700;
  font-size: 1.5rem;
  color: tomato;
  margin-bottom: 10px;
}

.tech {
  margin-top: 0;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes showAnimation {
  from {
    margin-top: 40px;
    opacity: 0;
  }
  to {
    margin-top: initial;
    opacity: 1;
  }
}

#homePage {
  opacity: 0;
}

.showAnimation {
  animation: showAnimation 0.6s ease forwards;
}

.techInterview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techInterview h2 {
  margin: 0;
  color: white;
  font-size: 1.4rem;
}

.tasksQuantity {
  color: var(--linkColor);
}

.interviewEnd {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.interviewEnd a {
  margin-top: 20px;
}

.interviewEnd h2 {
  margin: 10px;
}

.interviewEnd span {
  color: var(--linkColor);
}

.geminiTask {
  margin: 30px;
  max-width: 1200px;
}

.geminiTask h4 {
  color: rgba(255, 255, 255, 0.809);
  margin: 0;

  font-weight: 600;
}

.errorBox h4 {
  color: #939393;
  margin-bottom: 20px;

  font-weight: 600;
}

.errorBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.geminiTask h3 {
  color: var(--linkColor);
}

.errorBox h3 {
  color: tomato;
}

.explanation span {
  color: var(--linkColor);
}

code {
  border-radius: 5px;
}

@keyframes codeExampleAnimation {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.codeExampleAnimation {
  animation: codeExampleAnimation 0.3s ease forwards;
}

.codeExample {
  opacity: 0;
  transform: translateY(-5%);
  margin: 20px;
  border-radius: 5px;
  background-color: rgba(2, 2, 2, 0.53);
}

details {
  user-select: none;
  transition: 0.3s;

  cursor: pointer;
  outline: none;
  border: 2px solid var(--linkColor);
  border-radius: 5px;
}

summary {
  padding: 15px;
}

details:hover {
  background-color: rgba(150, 79, 248, 0.289);
}

br {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: black;
  color: black;
  line-height: 10px;
}

.userTextArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.codeArea {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid var(--linkColor);
  width: 100%;
}
